@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:ital,wght@0,400;0,700;1,400&family=Roboto+Slab&display=swap');

body {
    font-family: Lato, sans-serif;
}
p, ol > li::marker {
    line-height: 30px;
    font-size: 18px;
}
p {
   margin: 0 0 24px;
}
h1, h2 {
    font-family: Roboto Slab, Georgia, serif;
    font-weight: 500;
    margin-top: 0;
}
.toctree-wrapper.compound .caption {
    font-family: Roboto Slab, Georgia, serif;
    font-size: 2em;
    text-transform: None;
    margin-top: 5px;
    margin-bottom: 8px;
}
.toctree-wrapper > ul {
    columns: 2;
}
.toctree-l1 {
    margin-left: 5px;
    font-size: 17px;
}
.toc-outside-links {
    margin-left: 35px;
}
.toc-outside-links ul {
    columns: 2;
}
.toc-outside-links li p {
    margin-left: 5px;
    font-size: 17px;
}
.sidebar-brand {
  flex-direction: row;
}
.sidebar-logo-container {
  flex: 1;
}
.sidebar-brand-text {
  flex: 3;
}

#how-to-example-code section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#how-to-example-code section h2 {
  width: 100%;
}
#how-to-example-code section h3 {
  width: 100%;
}
#github-stars {
    width: 170px;
    height: 30px;
    margin-bottom: -18px;
}
img.right-image {
   float: right;
   margin-left: 8px;
   margin-bottom: 4px;
   margin-top: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: var(--color-link);
}

li {
    line-height: 30px;
    margin-left: 24px;
}
li p {
    margin-bottom: 0;
}
.toc-tree li {
    list-style: None;
    margin-left: 0;
}
ul {
    margin-left: 0;
}
/* use child selector in case someone nests an ol inside a ul */
ul > li {
    list-style: disc;
}
.section-header {
    display: flex;
}
.section-logo-div {
    display: block;
    width: 80px;
}
.section-title {
    display: block;
}
.section-title h2 {
    margin-top: 0.25em;
}
.section-logo {
    width: 78px;
    padding-right: 15px;
}
.main-page-table {
    width: 100%;
}
.vimeo-video {
    border: 0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.sidebar-tree ul {
    margin-left: 12px;
}
.sidebar-tree ul li {
    list-style-type: None;
    line-height: 17px;
}

/* Make Function API look nice */

.sig-param .n:first-of-type {
    margin-left: 10px;
}
.sig-param::before {
    content: '\A  ';
    white-space: pre;
    margin-left: 10px;
}
/* Make code look nice */
.code-block-caption::before {
    counter-increment: listing;
    content: "Listing " counter(listing) ": ";
}
.code-block-caption {
    font-family: 'Consolas', 'courier new', 'courier', monospace;
    font-size: 15px;
}
table.dataTable.display tbody tr.odd {
    background-color: var(--color-background-primary);
}
table.dataTable.display tbody tr.even {
    background-color: var(--color-background-secondary);
}
table.dataTable.display tbody tr.odd > .sorting_1 {
    background-color: var(--color-background-primary);
}
table.dataTable.display tbody tr.even > .sorting_1 {
    background-color: var(--color-background-secondary);
}
p code.literal {
    border: None;
}
code.literal {
    background: None;
}
.dataTables_wrapper .dataTables_filter {
    color: var(--color-foreground-primary);
}

.heading-icon {
    columns: 2;
    position: relative;
    left: -20px;
    top: -4px;
    float: left;
    width: 55px;
}