
/* By default table cells don't wrap in RTD style.
   This makes them wrap again. */
.wy-table-responsive table td {
    white-space: normal;
}
#drawing,#animation,#drawing-with-loops,#procedural-generation,#sprite-player-movement,#platformers,#bullets,#levels,#sprite-movement,#user-control,#other,#pymunk,#shapeelementlists,#stress-tests {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
h1, h2, h3 {
	width: 100%;
}
.figure {
	margin-left: 2px;
	margin-right: 2px;
}
.rst-content .highlight>pre {
    line-height: 1.5;
}