body {
    counter-reset: listing;
}
li {
    list-style: disc;
    line-height: 30px;
    margin-left: 24px;
}

ul {
    margin-bottom: 30px;
}

li p {
    margin-bottom: 0;
}
.wy-menu ul li {
    list-style: none;
    line-height: 30px;
    margin-left: 12px;
}
.code-block-caption::before {
    counter-increment: listing;
    content: "Listing " counter(listing) ": ";
}
.code-block-caption {
    font-family: 'Consolas', 'courier new', 'courier', monospace;
    font-size: 15px;
}
#how-to-example-code section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#how-to-example-code img {
    padding-right: 5px;
}
h1, h2, h3 {
	width: 100%;
}
.figure {
	margin-left: 2px;
	margin-right: 2px;
}
.rst-content .highlight>pre {
    line-height: 1.5;
}
.rst-content .section ul p {
    margin-bottom: 0;
}
.resource-table td {
    width: 50px;
}
.resource-table {
    width: 100%;
}
.resource-table img {
    max-width: 64px;
    max-height: 64px;
}
div[class^='highlight'] {
    border-style: solid;
    border-width: 2px 0 2px 0;
    background: #FCFCFC;
}
div[class^='highlight'] pre {
    white-space: pre;
    margin: 0;
    padding: 12px 12px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    overflow: auto;
    color: #404040;
}

.headerlink {
    visibility: hidden;
}
.rst-content code.literal {
	color: black;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.rst-content code.literal {
	color: black;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
.rst-content code.xref {
	color: #2980B9;
    font-size: 90%;
}
/* By default table cells don't wrap in RTD style.
   This makes them wrap again. */
.wy-table-responsive table td {
    white-space: normal;
}
.wy-nav-content-wrap {
    background: #fff;
}
.wy-side-nav-search {
    color: #ffff8a;
    background-color: #28a05c;
}
.wy-side-nav-search > a {
    color: #fcfcfc;
}
.wy-side-nav-search > a:visited {
    color: #fcfcfc;
}
.wy-side-nav-search > div.version {
    color: #fcfcfc;
}
.wy-menu-vertical {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}
.wy-plain-list-disc, .rst-content .section ul, .rst-content .toctree-wrapper ul, article ul {
    list-style: disc;
    line-height: 30px;
    margin-bottom: 30px;
}
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
.c1 {
    color: #28811f;
}
.bp {
    color: #004bd7;
}
.section > a > img.right-image {
   float: right;
   margin-left: 8px;
   margin-bottom: 4px;
   margin-top: 10px;
}
section > a > img.right-image {
   float: right;
   margin-left: 8px;
   margin-bottom: 4px;
   margin-top: 10px;
}
.document > div > a > img.right-image {
   float: right;
   margin-left: 8px;
   margin-bottom: 4px;
   margin-top: 10px;
}

a {
   color: #2980B9;
}
a:visited {
   color: #2980B9;
}
.wy-menu-vertical a:visited {
    color:#d9d9d9;
}
#quick-api-index > div > div > p {
  margin-bottom: 0;
    font-weight: bold;
}
.inline-image {
    display: inline;
}
#quickapi.dataTable {
    width: 99%;
}
#quickapigui.dataTable {
    width: 99%;
}
.sig-name {
    color: black;
}
.sig-praram {
    color: darkgray;
}
.sig-param .n:first-of-type {
    color: black;
    margin-left: 10px;
}
.sig-param::before {
    content: '\A  ';
    white-space: pre;
    margin-left: 10px;
}
#gui, #gui div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.rst-content code, .rst-content tt, code {
    font-size: 85%;
    padding: 0 0 5px 0;
}

.rst-content .toctree-wrapper ul li > ul {
    margin-top: 0;
    margin-bottom: 0;
}
button.copybtn {
    left: .3em;
    right: auto;
}