body {
    counter-reset: listing;
}
/* TOC - Main landing page */
/* Show two columns if screen is wide enough */
@media screen and (min-width: 700px) {
    .toctree-wrapper > ul {
        columns: 2;
    }
}
.toctree-l1 {
    margin-left: 5px;
}
.toc-outside-links {
    margin-left: 35px;
}
.toc-outside-links ul {
    columns: 2;
}
.toc-outside-links li p, .toc-outside-links ul li {
    margin-left: 5px;
}
.toc-outside-links a {
    text-decoration: none;
}
.toctree-wrapper a {
    text-decoration: none;
}
.toc-outside-links a:hover {
    text-decoration: underline;
}
.toctree-wrapper a:hover {
    text-decoration: underline;
}
#the-python-arcade-library h2 {
    font-size: var(--font-size--small);
    font-weight: 400;
    margin-bottom: 0;
    margin-top: .5rem;
    text-align: initial;
    text-transform: uppercase;
}
#the-python-arcade-library ul {
    margin-top: 0;
    margin-bottom: 0;
}
#github-stars {
    width: 170px;
    height: 30px;
    margin-bottom: -18px;
}
.heading-icon {
    columns: 2;
    position: relative;
    left: -20px;
    top: -4px;
    float: left;
    width: 55px;
}

/* Put logo next to text */
.sidebar-brand {
  flex-direction: row;
}
.sidebar-logo-container {
  flex: 1;
}
.sidebar-brand-text {
  flex: 3;
}
/* Example code section */
#how-to-example-code section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#how-to-example-code section h2 {
  width: 100%;
}
#how-to-example-code section h3 {
  width: 100%;
}
/* Right side image, for longer text */
img.right-image {
   float: right;
   margin-left: 8px;
   margin-bottom: 4px;
   margin-top: 10px;
}
.section-header {
    display: flex;
}
.section-logo-div {
    display: block;
    width: 80px;
}
.section-title {
    display: block;
}
.section-title h2 {
    margin-top: 0.25em;
}
.section-logo {
    width: 78px;
    padding-right: 15px;
}
.main-page-table {
    width: 100%;
}
.vimeo-video {
    border: 0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/* Make signatures look nice */
.sig:not(.sig-inline) {
    /* Highlight even when not hovering */
    background: var(--color-api-background-hover);
}
/* Make Function API look nice */
.sig-param .n:first-of-type {
    margin-left: 10px;
}
.sig-param::before {
    content: '\A  ';
    white-space: pre;
    margin-left: 10px;
}
/* Make code look nice */
.code-block-caption::before {
    counter-increment: listing;
    content: "Listing " counter(listing) ":\00a0 ";
}
.code-block-caption {
    font-family: 'Consolas', 'courier new', 'courier', monospace;
    font-size: 15px;
}
/* Datatable - mostly for quick api index */
table.dataTable.display tbody tr.odd {
    background-color: var(--color-background-primary);
}
table.dataTable.display tbody tr.even {
    background-color: var(--color-background-secondary);
}
table.dataTable.display tbody tr.odd > .sorting_1 {
    background-color: var(--color-background-primary);
}
table.dataTable.display tbody tr.even > .sorting_1 {
    background-color: var(--color-background-secondary);
}
.dataTables_wrapper .dataTables_filter {
    color: var(--color-foreground-primary);
}

/* Named color chart */
table.colorTable {
    border-spacing: 5px;
}
table.colorTable tr > td:nth-child(3) {
    border: 1px solid black;
}
table.colorTable tr > td:nth-child(3) > div {
    display: block;
    width: 80px;
    min-width: 80px;
}
/* Custom code syntax highlighting */
body:not([data-theme="light"]) .highlight .c1 {
    color: #48A148;
}
.highlight .c1 {
    color: #007507;
}
