
/* By default table cells don't wrap in RTD style.
   This makes them wrap again. */
.wy-table-responsive table td {
    white-space: normal;
}
#drawing,#animation,#drawing-with-loops {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.figure {
	margin-left: 2px;
	margin-right: 2px;
}
.rst-content .highlight>pre {
    line-height: 1.5;
}