
# IDEs
*.sublime-project
*.sublime-workspace
.idea/
/.vscode/
*.wpr
*.wpu

# virualenvs
env
venv*/
.venv

# docs
/doc/resources.rst
doc/build/
doc/quick_index.rst
doc/internal/blacklist.rst
doc/internal/build.rst
doc/source/quick_index.rst
doc/examples/thumbs/

# testing
.pytest_cache/
.coveralls.yml
.tox/
.mypy_cache/
tests/test_examples/test.png
stress_test*.csv
arcade/examples/test.png
arcade/examples/stress*.csv
pylint.html

# covereage
htmlcov/
.coverage

# build
.eggs/
dist/
build/
arcade.egg-info/
*.pyc
arcade/__pycache__/
doc/_build

# osx
.DS_Store

# local testing/mocking
test.py
pip-wheel-metadata/
