*.sublime-project
*.sublime-workspace
arcade.egg-info/
arcade/__pycache__/
*.pyc
dist/
doc/build/
build/
a_quick_test.py
*.wpr
arcade.wpu
.coverage
doc/quick_index.rst
doc/internal/blacklist.rst
doc/internal/build.rst
pylint.html
doc/source/quick_index.rst
.idea/
