*.sublime-project
*.sublime-workspace
*.wpr
*.wpu
*.pyc
/.vscode/
arcade.egg-info/
arcade/__pycache__/
dist/
build/
.coverage
doc/build/
doc/quick_index.rst
doc/internal/blacklist.rst
doc/internal/build.rst
doc/source/quick_index.rst
doc/examples/thumbs/
pylint.html
.idea/
env
venv/
.pytest_cache/
arcade/examples/stress*.csv
stress_test*.csv
test.py
tests/test_examples/test.png
arcade/examples/test.png
.DS_Store
.coveralls.yml
/doc/resources.rst
.mypy_cache/
