# https://packaging.python.org/guides/using-manifest-in/
# one-liner to get extensions in package: set([l.split(",")[0].split('.')[-1] for l in open('files.txt').readlines()])

recursive-exclude arcade *.pyc
recursive-include arcade VERSION
recursive-include arcade *.typed
recursive-include arcade/resources *.txt *.md *.url
recursive-include arcade/resources *.mp3 *.wav *.ogg
recursive-include arcade/resources *.png *.jpg *.gif
recursive-include arcade/resources *.mp4
recursive-include arcade/resources *.json
recursive-include arcade/resources *.glsl
recursive-include arcade/resources *.yml
recursive-include arcade/resources *.ttf
recursive-include arcade/lib *.dylib
recursive-exclude arcade .mypy_cache/**
