[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pyglet = "==2.0dev1"
pillow = "~=8.1"
numpy = "==1.20.1"
pymunk = "~=6.0.0"
pyyaml = "~=5.4"
shapely = "==1.7.1"
pytiled-parser = "==1.2.0"
dataclasses = {"python_version <" = "3.7","version ==" = "0.8"}

[dev-packages]
pytest
flake8
mypy
coverage
coveralls
pytest-mock
pytest-cov
pep517
sphinx
sphinx-sitemap
sphinx_rtd_theme
sphinx_copybutton
dirsync