numpy~=1.19.1
Pillow~=7.2.0
Pyglet>=1.5.4,<2
pytiled-parser==0.9.4a3
pytest~=6.0.1
pymunk~=5.6.0
matplotlib~=3.3.1
wheel
twine
sphinx-sitemap
sphinx_rtd_theme
sphinx-copybutton
flake8
zstandard
mypy
coverage
tox
pyyaml~=5.3.1