Sphinx==4.3.1
sphinx-copybutton==0.4.0
sphinx-rtd-theme==1.0.0
sphinx-sitemap==2.2.0
pyglet==2.0.dev11
dirsync==2.2.5
pytiled-parser==1.5.4
pymunk==6.2.1
shapely==1.8.0
pyyaml==6.0
Pillow==8.4
docutils<0.18

