name: Windows self-hosted test

on:
  push:
    branches: [development, maintenance]
  pull_request:
    branches: [development, maintenance]
  workflow_dispatch:

jobs:

  build:
    name: Self Hosted Testing
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install -U pip wheel setuptools
          python -m pip install pyogg pymunk
      - name: wheel
        run: |
          python -m pip install -e .[dev]
      - name: code-inspection
        run: | 
          mypy arcade
          flake8 arcade
      - name: build-docs
        run: |
          sphinx-build doc build -W
      - name: Test with pytest
        run: |
          pytest
      - name: Run examples
        run: |
          python -m tests\test_examples\run_all_examples.py
